body{
  font-family: "Kantumruy Pro", sans-serif;
}

header {
  background-color: #1f2937;
  padding: 0 200px;
  height: 500px;
  width: auto;
  color: whitesmoke;
}
ul,
h1 {
  
  list-style-type: none;
  display: flex;
  gap: 16px;
}
a {
  text-decoration: none;
  color: white;
}

/* HEADER */
.photo-header{
  height: auto;
  width: 400px;
}

.logo-header {
  font-size: 24px;
  font-weight: bolder;
}
.main-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 150px 48px;
  align-items: center;
}

.front-header {
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}
.someText-header {
  max-width: 30%;
}
.someText-header h1 {
  font-size: 48px;
  font-weight: bolder;
}
.someText-header p {
  font-weight: lighter;
  font-size: 18px;
  padding: 10px 0;
}
.someText-header button {
  background-color: #3882F6;
  color: whitesmoke;
  border-radius: 8px;
  padding: 10px;
  width: 30%;
  border: none;
}

/* MAIN */
.cards__general{
  display: flex;
  justify-content: center;
  gap: 52px;
  padding: 0 0 150px;

}
.cards__title{
  color: #1f2937;
  font-size: 36px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 50px 0 30px 0;
}
.cards__photo{
  height: auto;
  width: 250px;
  border: #3882F6 solid 2px;
  border-radius: 5px;
}
.cards__individual{
  max-width: 300px;
}

.main-cite{
  background-color: #E5E7EB;
  padding: 100px;
  display: flex;
}
.main-cite__blockquote{
  max-width: 50%;
  margin: 0 auto;
  padding: 0 50px;
  font-size: 36px;
  color: #1f2937;
}
.main-cite__quote{
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
}
.main-cite__author{
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
}

footer {
  background: #1f2937;
  color: #E5E7EB;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__link{
  padding-left: 5px;
  color: #3882F6;
  text-decoration: none;
}